*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color: #F0EDD4;
}

p{
	color: #red;
	margin: 20px 0;
	margin: 30px;
	font-size: 20px;
	font-family: 'Roboto Mono', monospace;
}
img {
	max-width: 100%;
	height: 400px;
	display: block;
}

h1{
	text-align: center;
	text-again: center;
	margin: 20px;
}

a{
	display: inline-block;
	text-decoration: none;
	font-size: 22px;
	color: black;
	border-bottom: 1px solid transparent;
	margin: 20px;
	transition: 0.3s ease-in;
}

a:hover {
	border-bottom-color: red;
	font-size: 30px;
}

div{
	width: 60%;
	margin: auto;
	padding: 40px;
}